@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

.dark-spotlight {
  position: absolute;
  width: 100px;
  height: 100px;
  background: hsl(218, 71%, 44%);
}
